nav {
  display: flex;
  justify-content: center;
  padding: 20px;
}
nav > ul {
  display: flex;
  align-items: center;
  gap: 48px;
}
a {
  text-decoration: none;
}

nav > ul > li > a {
  font-family: Inter;
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
  color: #101828;
}
.active_link {
  color: red;
}
