.title {
  font-family: Inter;
  font-weight: 600;
  font-size: 20px;
  color: #101828;
  margin-top: 24px;
}
.features_section {
  padding-right: 16px;
}
.features_section > ul > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Inter;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #101828;
}
.features_section > ul {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
hr {
  border: none;
  border-top: 1px solid rgba(16, 24, 40, 0.1);
  margin: 24px 0px;
}
.features_list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.features_list_item {
  border-radius: 100px;
  padding: 12px 18px;
  background-color: #f2f4f7;
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #101828;
}
